<h1>Loan calculator</h1>

<p>This component demonstrates calculation of installments for loan.</p>

<button pButton type="button" class="p-button-info" aria-label="Generate installments"
(click)="calculateInstallments()"></button>

<button (click)="calculateInstallments()">Generate installments</button>

<p *ngIf="!installments"><em></em></p>

<table class='table' *ngIf="installments">
  <thead>
    <tr>
      <th>Month of payment</th>
      <th>Pricipal value</th>
      <th>Interest value</th>
      <th>Total intallment value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let installment of installments">
      <td>{{ installment.month }}</td>
      <td>{{ installment.principal }}</td>
      <td>{{ installment.interest }}</td>
      <td>{{ installment.installmentAmount }}</td>
    </tr>
  </tbody>
</table>
<!--<p-table [value]="installments">
  <ng-template pTemplate="header">
          <tr>
            <th>Month of payment</th>
            <th>Pricipal value</th>
            <th>Interest value</th>
            <th>Total intallment value</th>         
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-installment>
          <tr>
            <td>{{ installment.month }}</td>
            <td>{{ installment.principal }}</td>
            <td>{{ installment.interest }}</td>
            <td>{{ installment.installmentAmount }}</td>        
          </tr>
      </ng-template>
    </p-table>
  -->
