<h1>Loan calculator</h1>

<p>This component demonstrates calculation of installments for loan.</p>

<div class="content-section details">
  <div class="card">
      <h5>Amount of loan: {{loanInfo.amount}}</h5>
      <input type="text" pInputText [(ngModel)]="loanInfo.amount"/>
      <p-slider [(ngModel)]="loanInfo.amount" [min]="0" [max]="500000" [step]="50000"></p-slider>
  
      <h5>Payment years: {{loanInfo.paymentYears}}</h5>
      <input type="text" pInputText [(ngModel)]="loanInfo.paymentYears"/>
      <p-slider [(ngModel)]="loanInfo.paymentYears"></p-slider>

      <h5>Interest rate: {{interestRate}} %</h5>

      <button (click)="calculateInstallments()">Generate installments</button>
  </div>
</div>

<hr />

<table class='table' *ngIf="installments">
  <thead>
    <tr>
      <th>Month of payment</th>
      <th>Pricipal value</th>
      <th>Interest value</th>
      <th>Total intallment value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let installment of installments">
      <td>{{ installment.month }}</td>
      <td>{{ installment.principal }}</td>
      <td>{{ installment.interest }}</td>
      <td>{{ installment.installmentAmount }}</td>
    </tr>
  </tbody>
</table>